/* Styling for the entire document */
* 
{
    box-sizing: border-box;
}
body
{
  font-family: "Kode Mono", monospace; /* Use Google Font for kodo monospace look */
  font-size: 16px; /* Set a base font size */
  line-height: 2; /* Increase line height for better readability */
  margin: 2rem;
  padding: 2rem;
  color: lightcoral; /* light coral for the text */
  background-color: rgb(6, 51, 110); /* Set light midnight blue as background for a calm 
  appearance */
  border: 2px solid lightcoral;

}

/* Styling for main heading */
h1
{

  font-size: 2.0rem; /* Set a larger font size for main headings */
  text-shadow: 3px 3px 5px rgba(0, 204, 0, 0.7); /* Add a drop shadow effect for emphasis */
  
}

/* Styling for sub-heading */
h2
{
  font-size: 1.6rem; /* Set a font size for sub-headings */
  font-weight: 600; /* Make it slightly bolder for differentiation */
  text-transform: uppercase; /* Convert text to uppercase for visual prominence */
  
}

/* Styling for sub-sub-heading */
h3
{
  font-size: 1.2rem; 
}

h1, h2, h3 
{
    padding-bottom: 1rem;
}

p, li, table, form 
{
    font-size: 0.8rem;
}

/* Styling for hyperlinks */
a
{
  text-decoration: none; /* Removing
  underline from links */
  color: #66ff66; /* green color for the links so its shown more */
}

header section 
{
  display: flex;
  justify-content: space-between;
  height: 20rem;
}

main section, footer section 
{
    margin: 4rem 0;
    border-top: 2px solid lightcoral;
}

form input, form textarea, form select
{
    padding: 0.1rem 0.2rem;
    color: lightcoral;
    border: 2px solid lightcoral;
    background-color: lightblue;
}

form fieldset
{
    margin: 0;
    padding: 0;
    border: none;
}

form button
{
    padding: 0.5rem 1rem;
    color: lightcoral;
    border: 2px solid lightcoral;
    background-color: lightblue;
}

form input, form textarea
{
    outline: solid;
}

header section .image-container img
{
    align-self: flex-start;
    width: 15rem;
    height: 15rem;
}


/* === HEADER - Introduction SECTION === */
header section .image-container
{
  align-self: flex-start; /* Positions itself to the start of y-axis. */

  /* Makes the image shape square. */
  width: 15rem;
  height: 15rem;
}

header section .image-container img
{
  display: block;

  /* Fits the image into the container div. */
  width: 100%;
  height: 100%;

  border-radius: 50%; /* Rounds the image. */

  object-fit: cover; /* Preserves the original aspect ratio. */
  object-position: 100% 20%; /* Makes the face visible moving the image down. */
}

header section .name-container
{
  align-self: center; /* Positions itself to the center of y-axis. */
}

header section .information-container
{
  align-self: flex-end; /* Positions itself to the end of y-axis. */
}

/* === MAIN - Technologies SECTION === */
.technologies .container
{
  display: flex;
  justify-content: space-between;
}

/* === Tools SECTION === */
.tools .container
{
  display: flex;
  justify-content: center;
}

/* === Contact Section === */
.contact .form-container
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .text-input-container,
.contact .select-container,
.contact .checkbox-container
{
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.contact .text-input-container label,
.contact .select-container label
{
  flex-grow: 1;
}

.contact .text-input-container input,
.contact .text-input-container textarea,
.contact .select-container select
{
  width: 20rem;
}

.contact .text-input-container textarea
{
  height: 10rem;
}

.contact .button-container
{
  display: flex;
  justify-content: flex-end;
}

.contact .button-container button[type=reset]
{
  margin-right: 1rem;
}

 section#essay {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 600px){
  section#essay {
    width: 80%;
  }
  body {
    background-color: skyblue;
  } 
}

/* No change here dont know whats wrong */
/* .border-dotted 
{
    border: 2px solid lightcoral;
} */
/* Cant get underlines  */

/* different screen size  */


section#essay {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  section#essay {
    width: 80%;
  }

}
@media (min-width: 1000px) {
  section#essay {
    width: 50%;
  }
}
  